$contentWidth: 1280px;
$inputWight: 13rem;

$backgroundColorMain: #f5f6f6;
$backgroundColor: white;
$colorSubtitles: grey;
$searchBackground: #f1f5f8;
$rangeInputColor:#d2c4b5;
$errorColor:rgb(126, 39, 39);

$buttonGrey: grey;
$buttonBlue: rgb(16, 16, 114);
$buttonBeigen: #e0cebb;
$buttonYellow: rgb(206, 178, 19);
$buttonWhite: rgba(243, 234, 234, 0.955);
$buttonBrown: rgb(82, 70, 70);
$buttonBlack: black;
$selectedButton: rgb(79, 76, 76);

$busketCircl:20px;


$mainPadding: 20px;
$filterPadding: 25px;
$rangeGap: 1rem;
$rangeTriangularSize: 15px;

$borderType: $rangeTriangularSize solid transparent;

$radius: 0.25rem;
$letterSpacing: 0.1rem;