@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Kaushan';
  src: url("../fonts/Kaushan/KaushanScript-Regular.ttf");
}

@font-face {
  font-family: 'RobotoI';
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: 'RobotoR';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}